---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
const data = await fetch("https://awvcgdvcnaczmcuxiuia.supabase.co/rest/v1/books", {
	method: "GET", 
	headers: {
		apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3dmNnZHZjbmFjem1jdXhpdWlhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5Mzg3OTAsImV4cCI6MjA3ODUxNDc5MH0.MoWw2g-t4EKxD9j8aywOr7Lm5e3ZlEFJExZ0NTXUXSQ"
	}
}).then((res)=>res.json());
---
<MainLayout title="Books">
	<section class="books">
		{data.map(book=>{
			return <Card data={book}/>
		})}
	</section>
</MainLayout>